export(averageDuplicatedRows)
export(backg)
export(backgroundCorrectAgilent)
export(deriveAgilentFeatures)
export(flags)
export(foreg)
export(normalizeAgilent)
export(readAgilent)
export(readAgilentHeader)
export(readAgilentHeaderS)
export(readGPR)
export(readGPRHeaderS)
import(preprocessCore)
importFrom(limma,normexp.fit)
importFrom(limma,normexp.signal)
importFrom(limma,readGPRHeader)
